.navbar {
  .navbar-nav {
    align-items: center;
    .nav-link {
      font-weight: 400 !important;
      font-size: 15px !important;
      color: white;
      text-transform: uppercase;
      margin-right: 20px;
    }
    .active {
      font-weight: 700 !important;
      color: #fffe55 !important;
    }
    .btn-warning {
      width: auto !important;
      padding: 19px 22px !important;
      background: #fffe55 !important;
      border: 0px !important;
    }
    .btn {
      border-radius: 0px !important;
    }
  }
  .navbar-brand {
    img {
      width: 144.15px;
      height: 282px;
      position: absolute;
    }
  }
}

.img-scrolled {
  // width: 100px !important;
  height: 100px !important;
  transform: rotate(90deg);
  top: -10px;
}
