.hero {
  background-image: url("../../../assets/img/bg_hero.png");
  height: 80vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  .hero-title {
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    color: #000000;
    line-height: 95%;
    text-transform: uppercase;
  }
}
