.workflow {
  .workflow-titile {
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    margin-top: 100px;
  }
  .workflow-sub-title {
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 130%;
  }
  a {
    color: #000000 !important;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 130%;
    margin-top: 50px;
    text-transform: uppercase;
  }
}
