@import "./fonts";

body {
  // font-family: GujaratiMT !important;
  font-style: normal;
}

.icon-arrow {
  margin-bottom: 40px;
  img {
    width: 75px;
    height: 75px;
  }
  span {
    font-style: normal;
    font-weight: 400;
    color: #000000;
    margin-right: 21px;
  }
}

.cursor-pointer{
  cursor: pointer;
}
