.services {
  background: black;
  width: 100vw;
  color: white;
  .services-title {
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    color: white;
    line-height: 95%;
    text-transform: uppercase;
  }
  .service-title-left {
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 100%;
  }
  .service-desc {
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 130%;
  }
  .icon-arrow {
    span {
      color: white !important;
    }
  }
  
}
