.accordion {
  .card-header,
  .show,
  .accordion-collapse {
    background-color: black;
  }
  .card {
    border-left: 0px !important;
    border-right: 0px !important;
  }
  .card-header {
    padding: 30px 0px;
    .accordion-title {
      font-style: normal;
      font-weight: 400;
      font-size: 26px;
      line-height: 130%;
      color: #b6b6b6;
    }
    .accordion-desc {
      // font-family: "Lato";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      color: #ffffff;
    }
  }
}
.btn-warning {
  padding: 16px 25px;
  background: #fffe55;
  width: 207px !important;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  img {
    width: 18px;
  }
}
